<h1>Eat the @^%$ Burger</h1>

<h2>Burgers that are not devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
     ''
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      ''
    {{/if}}
  {{/each}}
</ul>

<h2>Enter a burger you want to eat, the click the submit button</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1"><h3>Devoured!</h3></input><br>
    <input type="radio" name="devoured" value="0"><h3>No one wants this one.</h3></input> 
  </div>

  <button type="submit">Add Burger</button>
</form>
